<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/96d2c9c4-1765-45cb-b446-0348669ae4de/resourceGroups/DefaultResourceGroup-SEA/providers/Microsoft.Web/sites/luxejewelhouse</ResourceId>
    <ResourceGroup>DefaultResourceGroup-SEA</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://luxejewelhouse.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f12557b9-f3f6-42c9-b24a-0b2afe5388e2</ProjectGuid>
    <PublishUrl>https://luxejewelhouse.scm.azurewebsites.net/</PublishUrl>
    <UserName>$luxejewelhouse</UserName>
    <_SavePWD>true</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>